.container1{
    margin-top: 7rem;
    width: 100%;
    background-color: black;
    height: 100vh;
    
}


.title{
    color: white;
}

.usedby{
    color: white;
}

.cards{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 90%;
    justify-content: space-around;
    align-items: center;

}

.box{
    width: 50%;
    height: 50vh;
    border: 1px solid white;
    margin-top: 9rem;

}